@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(204, 43%, 93%);
}


/* Inicio de estilo de fonte de letras*/

h1 {
    color: hsl(179, 62%, 43%);
    margin-bottom: 43px;
    font-family: 'Karla', sans-serif;
    font-weight: 700;
}

h2 {
    margin-bottom: 43px;
    font-family: 'Karla', sans-serif;
    color: #7FFF00;
}

h3 {
    color: white;
    font-family: 'Karla', sans-serif;
    font-size: 23px;
    margin-bottom: 25px;
}

p {
    font-family: 'Karla', sans-serif;
    color: rgb(175, 170, 170);
    margin-bottom: 16px;
}

strong {
    font-family: 'Karla', sans-serif;
    color: white;
    font-size: 40px;
}

small {
    color: white;
    font-family: 'Karla', sans-serif;
    font-size: 15px;
}

.text {
    color: white;
    letter-spacing: 2px;
    margin-top: 10px;
}

.text-1 {
    color: white;
    margin: 7px;
}


/* Fim de estilo de fonte de letras*/

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 21vh 25vh 25vh 25vh;
    border-radius: 5px;
    margin: 21%;
    box-shadow: 1px 2px 15px black;
}


/* Inicio  de estilo da sessão principal*/

.principal {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    padding: 41px;
    background-color: white;
}


/* fim  de estilo da sessão principal*/


/* Inicio  de estilo da sessão 1*/

.sc1 {
    background-color: hsl(179, 83%, 30%);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
    padding: 49px;
}

button {
    height: 53px;
    width: 103%;
    border-radius: 8px;
    background-color: #7FFF00;
    color: white;
    font-family: 'Karla', sans-serif;
    font-size: 18px;
    border: none;
    box-shadow: 1px 2px 15px black;
    margin-top: 23px;
}


/* Fim  de estilo da sessão 1*/


/* Inicio  de estilo do fotter*/

.ft {
    background-color: hsl(179, 62%, 43%);
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 5;
    grid-row-end: 5;
    padding: 40px;
}


/* Fim  de estilo do fotter*/

@media(max-width: 475px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 0vh 47vh 47vh;
        margin: 23px;
        margin: 23px;
    }
    h1 {
        font-size: 26px;
        margin-bottom: 20px;
    }
    h2 {
        font-size: 17px;
        margin-bottom: 38px;
    }
    p {
        font-size: 14px;
        margin: 0;
    }
    .principal {
        padding: 28px;
    }
    .ft {
        background-color: hsl(179, 62%, 43%);
        grid-row-start: 5;
        grid-row-end: 5;
        /* grid-row-end: 5; */
        grid-column-start: 1;
        grid-column-end: 5;
        padding: 22px;
    }
    .sc1 {
        background-color: hsl(179, 83%, 30%);
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 4;
        padding: 25px;
    }
    button {
        width: 102%;
        margin-top: 59px;
        ;
    }
    h3 {
        font-size: 22px;
    }
}